.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--font-size-title);
    font-weight: var(--weight-title);

    position: relative;

    margin-top: 50px;
    margin-bottom: 50px;
}

.dashboard__header-div-container {
    display: flex;
    gap: 15px;
}

.dashboard__img-user {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 1px solid var(--brand100);
}

.nav__container {
    width: 180px;
    height: 100px;
    display: none;

    background-color: var(--gray1000);

    border: 1px solid var(--gray600);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav__controller {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__name {
    width: 100%;
    height: 100px;

    margin-left: 35px;
    font-size: var(--font-size-title-3);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 5rem;
}

.nav__button-controller {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__button {
    width: 100%;
    height: 100%;

    text-align: start;
    padding-left: 20px;

    color: var(--gray400);
    background-color: var(--gray1000);

    font-weight: var(--weight-title);
    font-size: var(--font-size-title-3);

    border-radius: 0;
}

.nav__button:hover {
    background-color: var(--gray700);

    color: var(--gray100);

    cursor: pointer;
}

.show-menu {
    display: block;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 9999;
    animation: apareceDeCima 1s;
}

.hidde-menu {
    display: block;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 9999;
    animation: desaparecer 1s;
}

.dashboard__main {
    display: flex;
    flex-direction: column;


}

.dashboard__section-feed {
    height: 64px;

    background-color: var(--gray800);
}

.dashboard__section-feed div {
    width: 100%;
    height: 100%;

    font-size: var(--font-size-title-2);
    font-weight: var(--weight-title);

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.dashboard__controller-lists {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 205px;

    overflow: auto;

    gap: 40px;
}

.container.dashboard__controller-lists::-webkit-scrollbar {
    width: 10px;
}

.container.dashboard__controller-lists::-webkit-scrollbar-track {
    background-color: var(--gray800);
    border-radius: 5px;
}

.container.dashboard__controller-lists::-webkit-scrollbar-thumb {
    background-color: var(--gray400);
    border-radius: 5px;
}

.container.dashboard__controller-lists::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray500);
}

.dashboard__list {
    margin: 25px 10px 50px 0;

    display: flex;
    flex-direction: column;

    gap: 23px;
}

.dashboard__info-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__img-list-controller {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-title-3);
    font-weight: var(--weight-title-2);

    gap: 10px;
}

.dashboard__img-list-controller span {
    color: var(--gray600);
}

.dashboard__date-publisher {
    color: var(--gray400);
}

.dashboard__img-user-list {
    width: 25px;
    height: 25px;

    border-radius: 50%;
    border: 1px solid var(--brand100);
}

.dashboard__buttons-list-controller {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard__list h2 {
    font-size: var(--font-size-title-1);
    font-weight: var(--weight-title);
}

.resume-description {
    max-height: 57.6px;

    font-size: var(--font-size-title-2);
    color: var(--gray300);  
}

@keyframes apareceDeCima {
    0% {
        transform: translateY(-60%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes desaparecer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-60%);
        opacity: 0;
    }
}