:root {
  --brand100: hsl(230, 57%, 50%, 1);
  --brand200: hsl(230, 68%, 54%);
  --gray100: hsl(210, 11%, 15%);
  --gray200: hsl(210, 10%, 23%);
  --gray300: hsl(210, 9%, 31%);
  --gray400: hsl(210, 7%, 56%);
  --gray500: hsl(210, 11%, 71%);
  --gray600: hsl(210, 16%, 93%);
  --gray700: hsl(210, 17%, 95%);
  --gray800: hsl(210, 17%, 98%);
  --gray900: hsl(200, 100%, 99%);
  --gray1000: hsl(210, 100%, 100%);
  --alert100: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --sucess100: hsl(162, 88%, 26%);

  --radius: 0.125rem;

  --weight-title: 600;
  --weight-title-2: 550;
  --weight-normal: 500;
  --weight-text: 400;

  --font-size-title: 1.5625rem;
  --font-size-title-1: 1.375rem;
  --font-size-title-2: 1.0625rem;
  --font-size-title-3: 0.8125rem;
  --font-size-text: 0.75rem;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

dialog {
  z-index: 1 !important;
  border: 0;
  width: 832px;
  max-height: 80vh;
  border-radius: 0.5625rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  visibility: hidden;
}

.error__text {
  font-size: var(--font-size-text);
  font-weight: var(--weight-text);
  margin-top: 0.25rem;

  color: var(--alert100);
}

.input-type-text {
  margin-bottom: 0.9375rem;
  font-size: var(--font-size-title-3);
  font-weight: var(--weight-title-2);
}